@import "vars";

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .main-header {
    .header-login_nav {
      font-size: 12px;
    }
    .header-nav {
      width: 40%;
      a {
        line-height: 20px;
      }
    }
  }
  .main-sidebar {
    width: 100px;
    &_nav li {
      width: 100px;
      a {
        .link-body {
          padding-left: 25px;
          &_description {
            font-size: 14px;
            font-weight: bold;
          }
        }
        img {
          width: 50px;
          height: 50px;
          margin-right: 30px;
        }
      }
    }
    &_counter {
      margin-left: 33px;
    }
  }
  .content-block {
    padding-left: 125px;
    p {
      font-size: 12px;
    }
  }
}

@media only screen
and (max-device-width : 768px) {
  .main-header {
    .header-login_name {
      font-size: 11px;
    }
  }
  .main-header .header-login img {
    margin-right: 5px;
  }
  .main-sidebar {
    &_more {
      z-index: 50;
      background: darken($main-bg, 10%);
    }
  }
}
